extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	section.wapper-box.PC
		.container
			//- .row
			//- 	day la menu
			.row
				.col-md-4#PC
					.row
						.col-md-12
							img.img-fluid(src="../img/home_section_nav_1.png", alt="Responsive image", srcset="")
							img.img-fluid(src="../img/home_section_nav_2.png", alt="Responsive image", srcset="")
							img.img-fluid(src="../img/home_section_nav_3.png", alt="Responsive image", srcset="")
							img.img-fluid(src="../img/home_section_nav_4.png", alt="Responsive image", srcset="")
							img.img-fluid(src="../img/home_section_nav_5.png", alt="Responsive image", srcset="")
					.row.row-hide
						h2.padding TOP 5 SAN PHẨM
						.col-md-12.center
							img.img-fluid.center(src="../img/top5-nav-1.png", alt="", srcset="")
						.col-md-12.center
							img.img-fluid.center(src="../img/top5-nav-2.png", alt="", srcset="")
						.col-md-12.center
							img.img-fluid.center(src="../img/top5-nav-4.png", alt="", srcset="")
						.col-md-12.center
							img.img-fluid.center(src="../img/top5-nav-5.png", alt="", srcset="")
				.col-md-8
					.thanhtam-slider-top
						.owl-carousel.owl-theme
							.item
								a(href="#")
									figure
										.bg_1
											//- .title
											//- 	.container
											//- 		.row
							.item
								a(href="#")
									figure
										.bg_2
											//- .title
											//- 	.container
											//- 		.row
					.row
						-for(i=1;i<19;i++)
							
								.col-sm-12.col-md-6.col-xl-4.center
									a(href="http://")
										img.img-fluid(src="../img/home_shop_"+i+".png", alt="", srcset="")
										-if(i==1)
											h2 Nạp Sò
											span 980.000 VNĐ
											span 720.000VND
										-else if(i==2)
											h2 Left 4 Dead 2
											span 980.000 VNĐ
											span 7326.000vnd
										-if(i==3)
											h2 Batteround
											span 980.000 VNĐ
											span 7326.000 VND
										-if(i==4)
											h2 Minecraft
											span 980.000 VNĐ

											span 7200.00 VND
										-if(i==5)
											h2 Grand To Theft Auto
											span 980.000 VNĐ
											span 7230.000 VND
										-if(i==6)
											h2 ARK 
											span 980.000 VNĐ
											span 7320.000 VND
										-if(i==7)
											h2 LIMITED EDITION
											span 980.000 VNĐ
											span 720.000 VND
										-if(i==8)
											h2 PUBG TITLE SET
											span 980.000 VNĐ
											span 720.000 VND
										-if(i==9)
											h2 Áo thi đấu Divine Esport
											span 980.000 VNĐ
											span 720.000 VND
										-if(i==10)
											h2 THE SWORDMEN X
											span 980.000 VNĐ
											span 720.000 VND
										-if(i==11)
											h2 PUBG - Early Bird Key
											span 980.000 VNĐ 
											span 720.000 VND
										-if(i==12)
											h2 CS-GO
											span 980.000 VNĐ 

											span 720.000 VND
										-if(i==13)
											h2 PES 2019
											span 980.000 VNĐ 
											span 720.000 
										-if(i==14)
											h2 Weapon Skin Key
											span 980.000 VNĐ 
											span 720.000 
										-if(i==15)
											h2 PUBG
											span 980.000 VNĐ 
											span 720.000 
										-if(i==16)
											h2 Nạp Sò
											span 980.000 VNĐ 
											span 720.000 
										-if(i==17)
											h2 Two Point Hospital
											span 980.000 VNĐ 
											span 720.000
										-if(i==18)
											h2 SCUM
											span 980.000 VNĐ 
											span 720.000 
					.row
						.col-sm-12.col-md-6
							img.img-fluid(src="../img/section_baner_1.png", alt="Responsive image", srcset="")
						.col-sm-12.col-md-6
							img.img-fluid(src="../img/section_baner_1.png", alt="Responsive image", srcset="")

	section#mobie
		.container
			.row
				.col-md-4
						.row
							.col-md-12
								img.img-fluid(src="../img/home_section_nav_1.png", alt="Responsive image", srcset="")
								img.img-fluid(src="../img/home_section_nav_2.png", alt="Responsive image", srcset="")
								img.img-fluid(src="../img/home_section_nav_3.png", alt="Responsive image", srcset="")
								img.img-fluid(src="../img/home_section_nav_4.png", alt="Responsive image", srcset="")
								img.img-fluid(src="../img/home_section_nav_5.png", alt="Responsive image", srcset="")
						.row.row-hide
							h2.padding TOP 5 SAN PHẨM
							.col-md-12.center
								img.img-fluid.center(src="../img/top5-nav-1.png", alt="", srcset="")
							.col-md-12.center
								img.img-fluid.center(src="../img/top5-nav-2.png", alt="", srcset="")
							.col-md-12.center
								img.img-fluid.center(src="../img/top5-nav-4.png", alt="", srcset="")
							.col-md-12.center
								img.img-fluid.center(src="../img/top5-nav-5.png", alt="", srcset="")
