extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'shop'
	- var description = 'Description for shop'
	- var bodyclass = 'shop'



//- day la phần sản phẩm
block body
	section.wapper-box
		.container
			
			.row
				.col-md-4#PC
					.row
						.col-md-12
							img.img-fluid(src="../img/home_section_nav_1.png", alt="Responsive image", srcset="")
							img.img-fluid(src="../img/home_section_nav_2.png", alt="Responsive image", srcset="")
							img.img-fluid(src="../img/home_section_nav_3.png", alt="Responsive image", srcset="")
							img.img-fluid(src="../img/home_section_nav_4.png", alt="Responsive image", srcset="")
							img.img-fluid(src="../img/home_section_nav_5.png", alt="Responsive image", srcset="")
					.row.row-hide
						h2.padding TOP 5 SAN PHẨM
						.col-md-12.center
							img.img-fluid.center(src="../img/top5-nav-1.png", alt="", srcset="")
						.col-md-12.center
							img.img-fluid.center(src="../img/top5-nav-2.png", alt="", srcset="")
						.col-md-12.center
							img.img-fluid.center(src="../img/top5-nav-4.png", alt="", srcset="")
						.col-md-12.center
							img.img-fluid.center(src="../img/top5-nav-5.png", alt="", srcset="")
//- clone tạo mixin 


