/////////////////////////////////
// Phần Slider
/////////////////////////////////
@import url('https://fonts.googleapis.com/css?family=Roboto')
body
	background-color: $black
	background-image: url(https://divineshop.vn/image/catalog/home/sgb-5005.png)
	background-position: top center
	background-repeat: no-repeat
	background-attachment: fixed
	font-family: Roboto
	color:#fff
	.wapper-box
		background: #191919
		max-width: 1180px
		margin: 20px auto
		border-radius: 5px
		box-shadow: 0 0 10px rgba(0,0,0,.2)
		margin: 0 auto
		.padding
			padding: 0rem 0rem 0rem 1rem
		img
			padding: 0rem 0rem 2rem 0rem 
		.center
			justify-content: center
			text-align: center
			align-items: center
			padding: 1rem 0rem 0rem 0rem

	.row-hide
		// reposive hide tab giam gia
		+media-breakpoint-down(md)
			display: none

	a:hover
		color: blue
		text-decoration: none
	.center-shop
		justify-content: center
		text-align: center
		align-items: center
